@import '../../variables.scss';

#TransactionList {
  .scroll-view {
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .spinner-container, .placeholder {
    text-align: center;
    margin-top: $placeholder-spacing;
  }

  .date-divider {
    padding: $default-spacing;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
  }
}
