@import '../../variables.scss';

.ErrorComponent {
  color: white;
  padding: $default-spacing;
  background-color: $cancel-red;
  min-height: $default-account-element-height;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 50% auto;

  .heading {
    margin: 0;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .body {
    margin: 0;
    font-size: 13px;
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
  }

  .close {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: flex-start;
    justify-self: flex-end;
  }
}

.ErrorComponent:hover {
  cursor: pointer;
}
