@import '../../variables.scss';
@import '~react-datepicker/dist/react-datepicker.css';

.transaction-form {
  width: 100%;

  label {
    font-size: 13px;
    display: block;
    margin: 5px 0 5px 0;
  }

  input {
    padding: 0 5px 0 5px;
  }

  input, select {
    width: 310px;
    font-size: $default-font-size;
    margin: 5px;
    padding-left: 5px;
  }

  button, select, input {
    height: $default-element-height;
  }

  .mt-number-input-container {
    position: relative;

    input {
      text-align: right;
    }
  }

  .mt-number-input-container:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: $default-font-size;
    content: '$';
    left: 10px;
  }
}

.transaction-form-actions {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    width: 100%;
    margin: 5px;
  }

  .confirm {
    color: #fff;
    background-color: #08B477;
    font-size: 16px;
    border: none;
  }

  .confirm:hover {
    color: #eee;
    cursor: pointer;
    background-color: #51EBB4;
  }

  .cancel {
    color: #fff;
    background-color: #B42501;
    font-size: 16px;
    border: none;
  }

  .cancel:hover {
    color: #eee;
    cursor: pointer;
    background-color: #EB6848;
  }
}
