@import '../../variables.scss';

.account-container {
  width: 100%;
  height: $default-element-height;
  min-height: $default-element-height;
  margin: $default-spacing auto $default-spacing auto;
  border-bottom: 1px solid #ddd;

  .account-element {
    padding: $default-spacing;
  }

  .account-name {
    font-size: $default-font-size;
    vertical-align: middle;
  }

  .account-balance {
    float: right;
  }
}
