@import '../../variables.scss';

#AccountList {
  .scroll-view {
    overflow: auto;
  }

  #al-header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% auto;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .accounts-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $default-font-size;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .account-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .placeholder {
      margin-top: 10px;
      text-align: center;
    }
  }

  .account-list-spinner-container {
    padding-top: 10px;
    text-align: center;
  }

  .account-list-action {
    height: $default-element-height;
    margin: 5px 0 5px 0;
    width: 100%;
    color: #fff;
    background-color: #08B477;
    font-size: 16px;
    border-radius: 0;
    border: none;
  }

  .account-list-action:hover {
    color: #eee;
    cursor: pointer;
    background-color: #51EBB4;
  }
}
