@import '~font-awesome/css/font-awesome.min.css';
@import '../../variables.scss';

body {
  font-family: Roboto;
  min-width: 300px;
  max-width: 1280px;
  margin: auto;
}

.mt-header {
  height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    padding: 10px 0 0 0;
    margin: 0 0 0 0;
  }

  border-bottom: $divider-border;
}

.mt-body {
  height: 75vh;
}

.mt-footer {
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: $divider-border;
}
