$default-spacing: 5px;
$placeholder-spacing: 10px;

$default-font-size: 20px;

$default-element-height: 41px;
$default-account-element-height: 61px;

$divider-border: 1px solid #ddd;

$confirm-green: #08B477;
$confirm-green-hover: lighten($confirm-green, 5%);
$cancel-red: #B42501;
$cancel-red-hover: lighten($cancel-red, 5%)
